VERITYCX_DATABASE_URL=
VERITYCX_AUTH_FILE=
VERITYCX_MIGRATION_DATABASE_URL=
VERITYCX_TEST_DATABASE_URL=
VERITYCX_TEST_MIGRATION_DATABASE_URL=
VERITYCX_VALIDATION_PROVIDER=
VERITYCX_VALIDATION_CORPUS=
OPENAI_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
